<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Feedback</title>
</head>

<body>

    <div align="center">
        <h1>Sentiment feedback</h1>
        <span>Was the predicted sentiment of your review good? </span>
        <form action="#" th:action="@{/feedback}" th:object="${feedback}" method="post">
            <label>The prediction was:</label>
            <div>
                <button type="submit" name="feedback" value="Good">Good</button>
                <button type="submit" name="feedback" value="Bad">Bad</button>
            </div>
        </form>
    </div>

    <div align="center" th:if="${feedback.feedback != null}">
        <div align="center">
            <h3>Your feedback</h3>
            <span>Thank you for the feedback on our prediction! You submitted that the feedback was </span><span th:text="${feedback.feedback}"></span><br/>
        </div>
    </div>

</body>

</html>