<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Review</title>
    <style>
        .big-red-button {
            background-color: red;
            color: white;
            font-size: 20px;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <div align="center">
        <h1>Review Form</h1>
        <form action="#" th:action="@{/sentiment}" th:object="${sentiment}" method="post">
            <label>Sentiment:</label>
            <input type="text" th:field="*{sentiment}" placeholder="Sentiment">
            <button type="submit" class="big-red-button">Submit</button>
        </form>
    </div>

    <div align="center" th:if="${sentiment.sentiment != null}">
        <h3>Result</h3>
        <span>Sentiment is </span><span th:text="${sentiment.review}"></span><br/>
        <h3>Give us some feedback on the prediction right here</h3>
        <a th:href="@{/give-feedback}">
            <button type="button" class="big-red-button">Give feedback</button>
        </a>
    </div>

</body>

</html>